#ui-camp-gallery {
  background-color: lightblue;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
img {
 width: 250px;
 margin: 10px;
}

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
